<h1> hello</h1>

<ul><li routerLink="/users" >users</li>
  <li routerLink="/books">books</li>
</ul>
<!-- <ul><li *ngFor="let key of keys">{{items[key].firstName}} {{items[key].address}}   </li></ul>
 -->
<!-- <form #formData="ngForm">
    firstName:
    <input type="text" ngModel name="firstName"><br>
    Lastname
    <input type="text" ngModel name="lName"><br>
    <input type="text" ngModel name="address"><br>
    <input type="button" value="save" (click)="saveData(formData.value)">
  </form> -->

<router-outlet>
</router-outlet>